<div class="layout-theme animated-css" id="wrapper" data-header="sticky" data-header-top="200">

  <div id="sb-site">

    <div class="wrap-content">
      <div class="section_mod-f">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <form class="form-details">
                <section class="section-area">

                  <audio-ng [src]="url" [controls]="true/false" [preload]="'auto'" (register)="someFunction($event)"></audio-ng>
                  <h2 class="ui-title-inner ui-title-inner_mod-a">Delivery Details</h2>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="ui-form-label">FIRST NAME *</label>
                      <input [(ngModel)]="customer.firstName" name="firstName" class="form-control" type="text">
                    </div>
                    <div class="col-md-6">
                      <label class="ui-form-label">LAST NAME *</label>
                      <input [(ngModel)]="customer.lastName" name="lastName" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="ui-form-label">EMAIL ADDRESS *</label>
                      <input [(ngModel)]="customer.email" name="email"  class="form-control" type="text">
                    </div>
                    <div class="col-md-6">
                      <label class="ui-form-label">PHONE *</label>
                      <input [(ngModel)]="customer.phone" name="phone"  class="form-control" type="text">
                    </div>
                  </div>
                  <label class="ui-form-label">DELIVERY ADDRESS *</label>
                  <input [(ngModel)]="customer.address" name="address" class="form-control form-control_second" type="text" placeholder="Street address">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="ui-form-label">TOWN / CITY *</label>
                      <input class="form-control" name="city" [(ngModel)]="customer.city" type="text" placeholder="Town / City">
                    </div>
                    <div class="col-md-6">
                      <label class="ui-form-label">State *</label>
                      <input [(ngModel)]="customer.state" name="state"  class="form-control" type="text">
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="ui-form-label">POSTCODE *</label>
                      <input class="form-control" name="zip" [(ngModel)]="customer.zip" type="text" placeholder="Postcode / Zip">
                    </div>
                  </div>
                </section>
                <!-- end section -->

                <!--<section class="section_mod-h">-->
                  <!--<label class="ui-form-label">ORDER NOTES</label>-->
                  <!--<textarea class="form-control" name="comment" rows="4" placeholder="Notes about your order , e.g. special notes for delivery." required></textarea>-->
                <!--</section>-->
                <!-- end section -->

                <div style="max-width: 800px;
    margin: auto;
    padding-top: 30px;"  class="form-group">
                  <a style="float: left" class="form-payment__btn ui-btn ui-btn-info btn-effect" [routerLink]="['/']" role="button">View Details</a>
                  <a style="float: right" (click)="createCustomer()" class="form-payment__btn ui-btn ui-btn-primary btn-effect">Create Customer</a>
                </div>
              </form>
            </div>
            <!-- end col -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
