
<div class="layout-theme animated-css" id="wrapper" data-header="sticky" data-header-top="200">
  <div id="sb-site">
    <div class="">
      <app-header></app-header>
      <div class="section-title">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="section__inner">
                <h1 class="ui-title-page">Houston Catering Seva</h1>
              </div>
              <button (click)="addDay()">Add Day</button>

              <!-- end section__inner -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <div class="section_mod-b">

        <form class="pizza-builder" action="post" name="pizza-size">
          <div class="container">
            <div class="form-group">
              <div class="input-group">
              </div>
            </div>
            <div class="row">
              <ngb-tabset>
                <ng-container *ngIf="orderCartState$ | async as orderCartState;">
                  <ng-container  *ngFor="let order of orderCartState.orders.orderCart.orderTimings;  let o = index">
                    <ngb-tab [title]="orderCartState.orders.orderCart.orderTimings[o]?.tabTitle">

                      <ng-template ngbTabContent>
                        <div style=" margin-top: 10px;" class="col-md-8" *ngIf="itemListState$ | async as itemListState">
                          <div class="col-md-6">
                            <span class="">Delivery Date : </span>
                            <input name="daypicker"  [(ngModel)]="orderCartState.orders.orderCart.orderTimings[o].deliveryDate" [owlDateTime]="dt" [owlDateTimeTrigger]="dt">
                            <owl-date-time (afterPickerClosed)="setDate(o)" #dt></owl-date-time>

                            <span class="">Tab Title : </span>
                            <input [(ngModel)]="orderCartState.orders.orderCart.orderTimings[o].tabTitle" name="tabTitle" class="" type="text">
                          </div>
                          <div class="accordion accordion_mod-b panel-group" id="accordion-1">
                            <!-- end panel -->
                            <ng-container *ngFor="let itemCategory of itemListState.items;  let j = index">
                              <div class="panel" >
                                <div class="panel-heading">
                                  <!--<a class="btn-collapse"><i class="icon"></i></a>-->
                                  <h3 class="panel-title"><span class="panel-title__number">{{j+1}}.</span>{{itemCategory.categoryName}}</h3>
                                </div>
                                <div>
                                  <div class="panel-body">
                                    <div class="pizza-builder__wrap-check">
                                      <ng-container *ngFor="let item of itemCategory.items; let i = index">
                                        <ng-container *ngIf="orderCartState$ | async as orderCartState">
                                          <input class="pizza-builder__check hidden" (change)="updateCart(o, item.id, $event)" id="pizza-sauce_{{j}}_{{i}}" [checked]="checkedOrder(o, item)" type="checkbox">
                                        </ng-container>
                                        <label class="pizza-builder__item" for="pizza-sauce_{{j}}_{{i}}">
                                  <span class="pizza-builder__check-img">
                                  </span>
                                          <span class="pizza-builder__check-name">{{item.name}}</span>
                                          <span class="pizza-builder__check-description pizza-builder__check-description_mod-a">{{item.description}}</span>
                                          <i class="icon-check fa fa-check"></i>

                                          <ng-container *ngIf="checkedOrder(o, item)">
                                            <input style="color: black" (input)="updateItemPrice(o,item,$event.target.value)" [value]="itemPriceVal(o,item)" name="itemPrice" class="" type="text">
                                          </ng-container>
                                        </label>
                                      </ng-container>
                                    </div>
                                    <!-- end pizza-builder__wrap-check -->
                                  </div>
                                  <!-- end panel-body -->
                                </div>
                                <!-- end panel-collapse -->
                              </div>
                            </ng-container>
                          </div>
                          <!-- end accordion -->
                        </div>
                        <app-cart [index]="o" ></app-cart>
                      </ng-template>
                    </ngb-tab>
                  </ng-container>
                </ng-container>
              </ngb-tabset>

            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </form>
      </div>
    </div>
  </div>
</div>
