
<div class="layout-theme animated-css" id="wrapper" data-header="sticky" data-header-top="200">
  <div id="sb-site">
    <div class="">
      <app-header></app-header>
      <div class="section-title">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="section__inner">
                <h1 class="ui-title-page">Houston Catering Seva</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_mod-b">
        <form class="form-horizontal" role="form" name="pizza-size">
          <div class="container">
            <div class="form-group">
              <a href="#" class="btn btn-info" [routerLink]="['/customers/create']" role="button">Create New Customer</a>
              <a style="color: white;" class="btn btn-success" (click)="addDay()" role="button">Add Day</a>
            </div>
            <div class="form-group">
              <label for="customerId">Select Customer</label>
              <ng-container *ngIf="customersState$ | async as customersState;">
                <ng-container *ngIf="orderCartState$ | async as orderCartState;">
                <select [(ngModel)]="orderCartState.customerId" name="selectedCustomerId" style="height: auto;" class="col-md-12 form-control" id="customerId">
                  <option [hidden]="orderCartState.customerId != ''" [selected]="orderCartState.customerId == ''" value=""> -- Please Select --</option>
                  <ng-container  *ngFor="let customer of customersState.customers;  let k = index">
                    <option [selected]="orderCartState.customerId == customer.id" value="{{customer.id}}">{{customer.firstName}} {{customer.lastName}} ({{customer.email}})</option>
                  </ng-container>
                </select>
                </ng-container>
              </ng-container>
            </div>
            <div class="row">
              <ngb-tabset>
                <ng-container *ngIf="orderCartState$ | async as orderCartState;">
                  <ng-container  *ngFor="let order of orderCartState.orderTimings;  let o = index">
                    <ngb-tab [title]="orderCartState.orderTimings[o]?.tabTitle">
                      <ng-template ngbTabContent>
                        <div style=" margin-top: 10px;" class="col-md-8 col-lg-8 col-md-12" *ngIf="itemListState$ | async as itemListState">
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Delivery Date </label>
                            <div class="col-sm-4">
                              <input name="daypicker"  [(ngModel)]="orderCartState.orderTimings[o].deliveryDate" [owlDateTime]="dt" [owlDateTimeTrigger]="dt">
                              <owl-date-time (afterPickerClosed)="setDate(o)" #dt></owl-date-time>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Tab Title </label>
                            <div class="col-sm-4">
                              <input [(ngModel)]="orderCartState.orderTimings[o].tabTitle" name="tabTitle" class="" type="text">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Delivery Charge </label>
                            <div class="col-sm-4">
                              <input (ngModelChange)="updateCartData(o)" [(ngModel)]="orderCartState.orderTimings[o].deliveryCharge" name="deliveryCharge" class="" type="text">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">No. of People</label>
                            <div class="col-sm-4">
                              <input (ngModelChange)="updateCartData(o)" [(ngModel)]="orderCartState.orderTimings[o].numberOfPeople" name="numberOfPeople" class="" type="text">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Delivery Address </label>
                            <div class="col-sm-8">
                              <textarea class="form-control" (ngModelChange)="updateCartData(o)" [(ngModel)]="orderCartState.orderTimings[o].deliveryAddress" name="deliveryAddress" rows="4" placeholder="Delivery Address" required></textarea>
                            </div>
                          </div>

                          <div class="accordion accordion_mod-b panel-group" id="accordion-1">
                            <ng-container *ngFor="let itemCategory of itemListState.items;  let j = index">
                              <div class="panel" >
                                <div class="panel-heading">
                                  <h3 class="panel-title"><span class="panel-title__number">{{j+1}}.</span>{{itemCategory.categoryName}}</h3>
                                </div>
                                <div>
                                  <div class="panel-body">
                                    <div class="pizza-builder__wrap-check">
                                      <ng-container *ngFor="let item of itemCategory.items; let i = index">
                                        <ng-container *ngIf="orderCartState$ | async as orderCartState">
                                          <input class="pizza-builder__check hidden" (change)="updateCart(o, item.id, $event)" id="pizza-sauce_{{j}}_{{i}}" [checked]="checkedOrder(o, item)" type="checkbox">
                                        </ng-container>
                                        <label class="pizza-builder__item" for="pizza-sauce_{{j}}_{{i}}">
                                  <span class="pizza-builder__check-img">
                                  </span>
                                          <span class="pizza-builder__check-name">{{item.name}}</span>
                                          <span class="pizza-builder__check-description pizza-builder__check-description_mod-a">{{item.description}}</span>
                                          <i class="icon-check fa fa-check"></i>

                                          <ng-container *ngIf="checkedOrder(o, item)">
                                            <input style="color: black" [focus]="myFocusTriggeringEventEmitter" (keyup)="updateItemPrice(o,item, $event.target.value)" [value]="itemPriceVal(o,item)" name="itemPrice" class="" type="text">
                                          </ng-container>
                                        </label>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                        <app-cart [index]="o" [deliveryCharge]="orderCartState.orderTimings[o].deliveryCharge" ></app-cart>
                      </ng-template>
                    </ngb-tab>
                  </ng-container>
                </ng-container>
              </ngb-tabset>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
